.logo{
    width: 50%;
}

.main-menu{
    text-decoration: none;
    display: inline-block;

}
.main-menu li{
    text-decoration: none;
    display: inline-block;
}
.main-menu a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color .8s;
}
.main-menu a:hover{
    background-color: gray;
    color: black
}
.title {
    width: 100%;
    background-color: green;
}
.ative {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}
.title-main {
    padding: 20px;
}